/* Body font style and font size */
body {
    font-size: 2rem;
    font-family: 'Annie Use Your Telescope', cursive;
    background-image: url(Assets/carrots-food-fresh-freshness-616404.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header {
    text-align: center;
    
}