/* Body font style and font size */
body {
    font-size: 2rem;
    font-family: 'Annie Use Your Telescope', cursive;
    background-image: url(Assets/white-red-and-yellow-citrus-fruits-1415734.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Font and image within jumbotron */
.jumbotron {
    text-align: center;
    font-family: 'Annie Use Your Telescope', cursive;
    background: url('Assets/board-bunch-cooking-food-349609.jpg');
    background-position: center center;
    background-size: cover;
}
